<!doctype html>
<html ng-app="devTestApp">
<head>
    <meta charset="utf-8">
    <title>DevTest</title>

    <!-- Angular CDN library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

    <!-- Public files-->
    <script type="text/javascript" src="core.svc.js"></script>
    <script type="text/javascript" src="home.js"></script>
</head>

<body ng-controller="mainController">
    <h1>Hello DevTest!</h1>

    <form name="userDetailForm">
        <label for="repeatSelect"> Select an Email:</label>
        <select 
            ng-model="userModel.email"
            ng-change=handleEmailSelect(userModel.email)
            >
        <option ng-repeat="option in emailOptions" value="{{option}}">{{option}}</option>
        </select><br />
        <label>First Name <input type="text" ng-model="userModel.firstName"/></label><br />
        <label>Last Name <input type="text" ng-model="userModel.lastName" /></label><br />
        <label>Username <input type="text" ng-model="userModel.username" /></label><br />

        <div ng-repeat="detail in userModel.detailKeys">
            <input type="text" ng-model="userModel.details[detail]"/><br />
        </div>
        <button ng-click=addDetail()>Add another detail field</button>
        <button ng-click=removeDetail()>Remove latest detail field</button>
    </form>

    <div>
        <h3>PROOF OF WORK: Current user model</h3>
        If I had to make a POST request, this is the model I would send. <br/><br/>
        Email: {{userModel.email}}<br />
        First: {{userModel.firstName}}<br />
        Last: {{userModel.lastName}}<br />
        User: {{userModel.username}}<br />
        Details: {{userModel.details}}<br />
    </div>
</body>
</html>
